* {margin: 0;padding: 0;border: 0;background:transparent;outline:none;text-decoration:none;outline:none;font-family:inherit;box-sizing:border-box;
}

ol,
ul,
li {
  display:block;
  list-style:none;
}

table {
  border-collapse: collapse;
  border-spacing:0;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button input textarea select {
    appearance: none !important;
    -webkit-appearance: none !important; 
    border-radius: 0;
}

/* ======= CSS RESET ======================*/

* {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary: #eae9e4;
    --secondary: #1c1717;
}

body {
    background-color: var(--primary);
}

header {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    color: var(--primary);
}

#fixed {
    z-index: 1;
    background-color: var(--secondary);
    overflow: hidden;
}

h1 {
    position: absolute;
    top:50%;
    left:1%;
    transform: translateY(-50%);

    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.material-icons.md-24 {
    display:flex;
    flex-direction: column;
    align-items: flex-end;

    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
}

#root {
    max-width: 1280px;

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 100px 20px;
    justify-content: center;
    
    margin: auto;
    margin-top: 100px;
}

.data-card {
    position: relative;
    width: 320px;
    height: 240;
    padding: 40px;
    border: var(--secondary) 2px solid;
}

.data-card h2 {
    font-family: 'Roboto', sans-serif;

    font-size: 36px;
    font-weight: 400;
}

.data-card h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.2em;
}

.data-card h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
}